@charset "utf-8";

html {
    width: 1080px;
    height: 910px;
}

body {
    width: 1080px;
    height: 910px;
    margin: 0;
    background-image: url(./images/fv_background.webp);
    background-size: cover;
    background-position: center;
    text-align: center;
}

@keyframes blinking {
  0%, 100% { opacity: 0;}
  50% { opacity: 0.5;}
}

.tenmetsu {
    animation: blinking 1s ease-in-out infinite;
    background-color: red;
}

#tenmetsu {
    width: 1080px;
    height: 910px;
}

.red {
    background-color: rgba(255, 0, 0, 0.3);
}

.btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 30px;
  margin-top: 200px;
  font-size: 40px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.sitagawa {
    margin-top: 30px;
}

.btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

h2 {
    position: absolute;
    top: 30px;
    width: 900px;
    height: 90px;
    margin: 10px 100px 5px 100px;
    padding-top: 70px;
    background-image: url(./images/mondaibun_back.png);
    background-size: 900px;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 200px;
    height: 200px;
    margin: 3px;
}

#a {
    position: absolute;
    top: 180px;
    left: 130px;
}

#b {
    position: absolute;
    top: 180px;
    left: 340px;
}

#c {
    position: absolute;
    top: 180px;
    left: 550px;
}

#d {
    position: absolute;
    top: 180px;
    left: 760px;
}

#e {
    position: absolute;
    top: 390px;
    left: 130px;
}

#f {
    position: absolute;
    top: 390px;
    left: 340px;
}

#g {
    position: absolute;
    top: 390px;
    left: 550px;
}

#h {
    position: absolute;
    top: 390px;
    left: 760px;
}

#i {
    position: absolute;
    top: 600px;
    left: 130px;
}

#j {
    position: absolute;
    top: 600px;
    left: 340px;
}

@keyframes shrinkText {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#count_last {
    position: absolute;
    top: 580px;
    left: 680px;
    font-size: 150px;
    font-weight: bold;
    margin: 0;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.shrink {
    display: inline-block;
    animation: shrinkText 1.02s ease-in-out infinite;
}

a {
    text-decoration: none;
    color: white;
}

.chose {
    border: solid 4px red;
}

.noChoose {
    filter: brightness(60%);
}

#maru, #batsu {
    position: absolute;
    top: 240px;
    left: 270px;
    z-index: 10000;
    pointer-events: none;
    width: 500px;
    height: 500px;
}

#gameover, #clear {
    position: absolute;
    top: 240px;
    left: 140px;
    z-index: 10000;
    pointer-events: none;
    width: 800px;
    height: 300px;
}

.mienai {
    display: none;
}

.under {
    position: absolute;
    top: 405px;
}

.up {
    top: 200px !important;
    left: 450px !important;
}
