@charset "utf-8";

body {
    width: 1080px;
    height: 810px;
    background-image: url(./images/fv_background.webp);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 30px;
  font-size: 40px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

h2 {
    padding: 5px 0px 5px 0px;
    margin: 10px 100px 5px 100px;
    background-color: white;
    border: solid 3px blue;
}

img {
    width: 200px;
    height: 200px;
    margin: 3px;
}

#a {
    position: absolute;
    top: 80px;
    left: 130px;
}

#b {
    position: absolute;
    top: 80px;
    left: 340px;
}

#c {
    position: absolute;
    top: 80px;
    left: 550px;
}

#d {
    position: absolute;
    top: 80px;
    left: 760px;
}

#e {
    position: absolute;
    top: 290px;
    left: 130px;
}

#f {
    position: absolute;
    top: 290px;
    left: 340px;
}

#g {
    position: absolute;
    top: 290px;
    left: 550px;
}

#h {
    position: absolute;
    top: 290px;
    left: 760px;
}

#i {
    position: absolute;
    top: 500px;
    left: 130px;
}

#j {
    position: absolute;
    top: 500px;
    left: 340px;
}

a {
    text-decoration: none;
    color: white;
}

.chose {
    border: solid 3px blue;
}

.noChoose {
    filter: brightness(60%);
}

#maru, #batsu {
    position: absolute;
    top: 140px;
    left: 270px;
    z-index: 10000;
    pointer-events: none;
    width: 500px;
    height: 500px;
}

#gameover, #clear {
    position: absolute;
    top: 140px;
    left: 140px;
    z-index: 10000;
    pointer-events: none;
    width: 800px;
    height: 300px;
}

.mienai {
    display: none;
}

.mieru {
    display: flex;
}

.under {
    margin-top: 300px;
}
